<li>
  <%= link_to content.title, edit_admin_category_content_path(@category, content, {page: params[:page]}) %>
	  <% if current_user.admin? %>
		| <%= link_to "delete", admin_category_content_path(@category, content), method: :delete,
									  data: { confirm: "You sure?" } %>
	  <% end %>
</li>