<li>
  <%= link_to category.title, category %>
  <% if current_user.admin? %>
    | <%= link_to "delete", category, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>