<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div id="firstline">
	  <div id="logo">
		<a href="/">ЕДИНЫЙ МЕДИЦИНСКИЙ ЦЕНТР</a>
	  </div>
	  <div id="nav-tel-menu">
		<a href="skype:+74957759000?call" style="border:0;text-decoration:none;">
		  <div id="tel">8 (495) 775-9000</div>
		</a>
		<div class="clear"></div>
	  </div>
	  <div class="clear"></div>
	   </div>
    </div>
  </div>
</header>