<footer class="footer">
  <div id="footer">
	<div class="footer-menu">
	<div class="bot-item first">
	  <div class="ots">
		<h3>
		  <a class="ol" href="/cont/kontakti-pasportno-vizovogo-tsentra-cns-24/">КОНТАКТЫ</a>
		</h3>
		<ul>
		  <li>
			<a href="/cont/kontakti-pasportno-vizovogo-tsentra-cns-24/">
			  <div>143441, МО, Красногорский р-н п/о Путилково, 69 км МКАД БЦ ГРИНВУД, кор. 33 и 35</div>
			</a>
		  </li>
		</ul>
	  </div>
	</div>
	</div>
	<div id="copyright">
	Единый Центр Документов
	<br>
	(812) 777-1000
	</div>
	<div id="webmaster">
	Разработка 
	<a href="http://www.if-spb.ru">ИНТЕРФОРУМ</a>
	 © 2010-2011
	</div>
  </div>
</footer>